<launch>
<include file="$(find 2arms_ur10_config)/launch/planning_context.launch">
  <arg name="load_robot_description" value="true"/>
</include>
<node name="kinect2_viewer"
      pkg="kinect2_viewer"
      type="kinect2_viewer"
      respawn="false" output="screen">
  <rosparam command="load"
            file="$(find 2arms_ur10_config)/config/kinematics.yaml"/>
</node>

</launch>
